[2018-01-09 22:12] MichelleGlauser opened #1 "Put this repo onto GitHub pages."

[2018-01-09 22:42] MichelleGlauser opened #2 "Add other Mac keyboard rows."

[2018-01-09 22:42] MichelleGlauser opened #3 "Come up with list of commands for program to test."

[2018-01-09 22:43] MichelleGlauser opened #4 "Create an expert view that does not show blue hints until requested"
Currently the blue hint keys are always shown. We'd like a toggle so you can hide the hints so users can test their expertise.

Design a toggle UI and implement it to allow the user to show or hide hints.

[2018-01-09 22:47] MichelleGlauser opened #5 "Move CSS and JavaScript into their own files and link to them in keyboard.html."

[2018-01-09 23:38] deeptiGarg commented on #5
This is done now.

[2018-01-10 01:22] #5 closed

[2018-01-10 20:39] deeptiGarg commented on #1
Done. Currently the Github page hosts the initial version of the project.  https://techtonica.github.io/keyboard-practice/

[2018-01-10 20:40] #1 closed

[2018-01-10 20:42] MichelleGlauser opened #6 "Add speed tracking"

[2018-01-12 03:12] MichelleGlauser commented on #2
Like this: ![img_e0925](https://user-images.githubusercontent.com/1952773/34858130-5799009e-f703-11e7-97e2-040b96a8b98b.jpg)

[2018-01-12 20:37] JonRojas commented on #3
[Basic Mac Keyboard Shortcuts](https://support.apple.com/en-us/HT201236)

| Shortcut                | Description                                                                                                                |
|-------------------------|----------------------------------------------------------------------------------------------------------------------------|
| Command-X

[2018-01-12 20:40] JonRojas commented on #3
Great resource: https://github.com/0nn0/terminal-mac-cheatsheet

| Key/Command | Description                                                                                                                                       |
|-------------|---------------------------------------------------------------------------------------------------------------------------------------------------|
| Ctrl

[2018-01-21 22:46] JonRojas commented on #3
Add question/answer structure around keyboard shortcuts.

[2018-01-22 23:44] deeptiGarg commented on #3
Added a Shortcuts.txt file in the gh-pages branch. You can add shortcuts in it each as the below format -

Key1-Key2-Key3 How do you do Action1?
Key1-Key2-Key4 How do you do Action2?

Something like this.

[2018-02-06 00:03] deeptiGarg commented on #2
Completed.

[2018-02-06 00:04] deeptiGarg opened #8 "Fix the position of arrow keys in the keyboard."
Cosmetic issue

[2018-02-06 00:05] #2 closed

[2018-02-06 00:31] MichelleGlauser opened #9 "Make input field turn red when the wrong keys are pressed."

[2018-02-06 00:32] MichelleGlauser opened #10 "Add link to list of commands."
For the MVP, we don't need a hint to show up when the wrong keys are pressed. Let's just have the input field turn red and supply a constant link to a list of commands people can refer to.

[2018-02-06 00:32] MichelleGlauser commented on #6
This is not needed for the MVP.

[2018-02-06 00:33] MichelleGlauser commented on #4
This is not needed for the MVP.

[2018-02-06 00:34] MichelleGlauser opened #11 "Display questions."
Display a prompt for an action, such as, "How do you copy something you've selected?" and go to the next prompt when the correct keys (Command + C for the example) are pressed. Cycle through all prompts this way.

[2018-04-21 18:51] MichelleGlauser commented on #3
What do we do about commands that still require a click, like Option-Click-Notification menu to disable notifications?

[2018-05-24 16:46] MichelleGlauser opened #13 "Detect pressing of fn and command."

[2018-05-24 16:46] MichelleGlauser opened #14 "Prevent default fn and command commands."
Maybe using this? https://www.w3schools.com/jsref/event_preventdefault.asp

[2018-06-03 20:19] heyellieday opened #15 "Use a keycode JS library to handle keypress-related details"
To be able to focus on the app's features, it makes sense to use a library like Keypress (https://dmauro.github.io/Keypress/) or Keymaster (https://github.com/madrobby/keymaster) that can run callback functions when key events happen.

[2018-06-10 20:24] heyellieday opened #16 "Build JSON file with all keyboard shortcuts in the proper "schema""
*This issue is a WIP* (work in progress)

In order to have a in memory "database" to read keyboard shortcuts from, there will need to be a data source to pull in seed data (in this case, the keyboard shortcuts). For simplicity, it can be stored in a JSON file that can be read from the JS app and loaded into whatever in-memory data store is used.

Additionally, each keyboard shortcut object found i

[2018-06-14 17:02] MichelleGlauser opened #17 "Use Sally's wireframes for layout and user flow."
[Shortcuts Wireframes.pdf](https://github.com/Techtonica/keyboard-shortcuts-practice/files/2103283/Shortcuts.Wireframes.pdf)

[2018-08-08 02:05] vegetabill commented on #15
I see that keymaster was checked in to the repo. Is it currently being used? Is someone working on this issue? If not, I can try to work on it.

[2018-08-08 02:08] vegetabill commented on #9
I'll have a look at this

[2018-08-08 03:02] vegetabill commented on #4
Right now they are always highlighted even before the student gets it wrong. Is this ticket meant to be like a "hint" feature?

[2018-08-08 03:19] vegetabill opened #19 "[meta] list of similar apps/tools to augment this one"
After 5 minutes of googlin'....

* [keycastr](https://github.com/keycastr/keycastr) - mac program that doesn't teach directly but Bill used to use this pairing to rapidly learn my partner's key shortcuts without having to ask "Whoa how'd you do that?" every 2 seconds in an IDE
* [EVE](http://www.hotkey-eve.com/) - mac-specific trainer that reminds you of shortcuts that exist whenever you do it the

[2018-08-08 03:25] vegetabill commented on #11
I _think_ this is the auto-progress one and if so I'm looking into it.

[2018-08-08 19:41] deeptiGarg commented on #9
Merged with the gh-pages branch.

[2018-08-08 19:41] #9 closed

[2018-08-08 19:58] deeptiGarg opened #21 "Add a pause button"
Add a pause button before a new prompt is shown (in place of the Next button).

Pause should keep the user on the same question. Once Paused, Pause button should change to Resume button. Once Resumed, display the next question.

If not Paused, then the next question is displayed automatically after 2-3 seconds.

[2018-08-15 19:25] MichelleGlauser opened #22 "Add other technologies' shortcuts like GitHub some day?"
https://help.github.com/articles/using-keyboard-shortcuts/

[2018-08-27 22:31] MichelleGlauser opened #23 "Highlight/accept the Command, Option, and Shift buttons on the right if the supporting keys are typed with the right hand."
For example, the Command button on the right should be used for copying, cutting, and pasting because C, X, and V are on the left of the keyboard and pressed with the left hand.

[2018-09-11 02:31] vegetabill commented on #19
@MichelleGlauser I misspoke, Shortcutfoo does have a free account feature and has a quiz on terminal commands as well, so could be a nice complement to this key shortcut app.

[2018-09-11 03:17] deeptiGarg commented on #21
Guess we don't need this now. @Michelle plz correct me if I'm wrong.

[2018-09-11 04:28] vegetabill commented on #19
moved to wiki. closing

https://github.com/Techtonica/keyboard-shortcuts-practice/wiki

[2018-09-11 04:28] #19 closed

[2018-09-11 04:30] vegetabill commented on #21
Based on IRL conversation tonight, for the MVP we just want to auto-advance through the questions and there is no back since the user already got the question right. Closing this.

[2018-09-11 04:30] #21 closed

[2018-09-11 04:35] vegetabill commented on #23
@MichelleGlauser is this MVP? Feels a little bit like a user preference is why I ask (one-handed always left, two-handed, etc). Or is it safe to assume everyone will want to learn and practice the same way?

(I must not be a good typist because I always use the left ones.)

[2018-09-11 04:37] vegetabill commented on #16
Don't think is needed anymore. The app is already showing a set of questions from a json file. If we want a specific schema improvement, we can open a ticket with the details.

[2018-09-11 04:37] #16 closed

[2018-09-11 04:37] vegetabill commented on #11
This is already implemented

[2018-09-11 04:37] #11 closed

[2018-09-11 04:40] vegetabill commented on #15
Unless we're seeing bugs that a library would solve, I'd suggest skipping this for now.

[2018-09-11 04:40] #15 closed

[2018-09-11 04:43] vegetabill commented on #14
@MichelleGlauser this can be frustrating for the user, even in a keyboard shortcut quiz. Is there a specific combo that is causing issue? Perhaps we can blacklist a few of those instead.

[2018-09-11 04:51] vegetabill commented on #4
@MichelleGlauser should there be a mode without the keys shown? Right now the keys are always shown.

[2018-09-11 04:51] vegetabill commented on #10
@MichelleGlauser the correct keys are already highlighted so I'm thinking we don't need this after all. But please reopen if we want to have more

[2018-09-11 04:51] #10 closed

[2018-09-11 04:53] vegetabill commented on #13
Command already works for me. Function might be a little tough. Do we have shortcuts for the MVP that rely on Fn?

[2018-09-11 04:59] vegetabill commented on #3
The click ones seem like an edge case.

This list seems all present in the json file. Let's open a new ticket if we want to add additional ones.

[2018-09-11 04:59] #3 closed

[2018-09-11 05:06] vegetabill opened #25 "Keys "stick" on when switching tabs"
If you use Cmd+Alt+Left/Right to change browser tabs, the Cmd key gets stuck orange on even when it's not pressed. Ideally we should reset keys when returning.

Alternatively we may not need to do this is we do #29 but that might not be a great UX.

To get started, follow the instructions in https://github.com/Techtonica/keyboard-shortcuts-practice/blob/backend/CONTRIBUTING.md

[2018-09-11 05:11] vegetabill opened #26 "Blue hint keys are difficult to read"
Use different color style with more contrast

[2018-09-12 23:33] vegetabill opened #28 "[Post-MVP] Refactor app architecture and codebase layout"
This is more of an epic (and placeholder) but presumably we want the codebase to be easy for others to contribute to and be an educational environment for volunteers and students.

Here are some possible ideas in that vein:
* Switch the view to render via React components
** All client state should move inside a root component or something like Redux
* Move active development back to master vs `gh

[2018-09-18 00:35] vegetabill opened #29 "Add support for shortcuts with the Fn key"
This ticket is to allow shortcuts to be specified that require the `fn` key on Mac.

For example, F2 in VSCode renames a symbol, which is a useful tool. Add this shortcut to the shortcuts.json and test to see if it will work.

Ideally, we would like to highlight the actual `fn` key on the displayed keyboard but that may or may not be possible. Please look into the link below and do your own search

[2018-09-18 00:35] vegetabill commented on #14
merged into #29

[2018-09-18 00:35] #14 closed

[2018-09-18 00:36] vegetabill commented on #13
merged into #29

[2018-09-18 00:36] #13 closed

[2018-09-19 17:06] vegetabill opened #30 "Add fun success event when the user has finished all the questions"
Currently when the user reaches the last question it just cycles back to the first one.

Let's help the user celebrate their accomplishment by showing a fun success message.

Also please add a button that will start the quiz over again if they want.

Try out the Keyboard Shortcut App:  https://techtonica.github.io/keyboard-shortcuts-practice/

[2018-09-19 17:07] vegetabill opened #31 "[QA] Run through entire set of questions and create issues for any bugs seen"
Run through the tests on the latest Mac versions of:
* Chrome
* Firefox

[2018-10-05 01:57] amychan331 opened #32 "Certain questions cannot be answered because the cmd key is not override"
When users answer the "hide the window" question with Cmd-H, it will actually close user's own window, thus the practice would not precede to the next question. The Cmd-h needs to be override somehow.

[2018-10-05 02:04] amychan331 commented on #32
Actually, cmd-h is not the only one. The question on "minimize window" also hides user's own window. (Cmd-M).

[2018-10-05 02:07] amychan331 commented on #32
Actually, make that rest of the question set, because none of the answer that require Cmd works.

[2018-10-05 02:41] lindes commented on #28
Not sure if this deserves to be its own issue, or if it could fit in with this, but another thought I have is to calculate the content of the `"keys"` data in `shortcuts.json` based on the `"answer"` data -- and generally to use symbolic names for things throughout the code, rather than hard-coded numeric values (except if/when absolutely necessary -- like maybe a one-time mapping between the name

[2018-10-05 02:56] lindes commented on #29
Note that pressing of the fn key by itself is probably not detectable from the browser, though keys pressed while holding it _may_ be detectable, depending on the key.

For more information, see: https://stackoverflow.com/questions/49945785/detect-fn-key-with-js

And/or experiment with: http://keycode.info/ (referenced from one of the answers.)

[2018-10-05 03:01] lindes opened #34 "caps-lock toggles only every other time you press it, losing sync with actual lock"
At least for me, pressing caps-lock for the first time changed the keyboard view to reflect it being enabled, but then pressing it again didn't show it as disabled... pressing a third time did.  And now it seems to take every other press.

[2018-10-05 03:09] lindes commented on #34
Note: After playing around a bit on [keycode.info](http://keycode.info/), it seems this may just be a case that only turning caps-lock on actually generates a keycode event that the browser can see, so this may be impossible to fix. :-/

[2018-10-05 07:08] vegetabill commented on #31
Thanks @ewilliam for picking this up! One thing I forgot to mention originally is we should test on more than one browser. Chrome and Firefox on Mac OSX would be a good start but I'm not sure if @MichelleGlauser would have any additional suggestions based on the first cohort.

[2018-10-09 00:32] shiftyp commented on #32
I think a solution @amychan331 would be to add `e.preventDefault` to the end of [this `handle` function.](https://github.com/Techtonica/keyboard-shortcuts-practice/blob/master/JS/main.js#L62). This function could use some indentation cleanup as well, maybe a separate issue.

[2018-10-09 09:08] amychan331 commented on #32
@shiftyp Having indentation fix as a separate issue was actually talked about in #35, so I made another pull request for the indentation(#36). For some strange reason, when I merge the changes for indentation, #35 also merged. So I will probably create another pull request later...
Actually, I did tried the handle function with e.preventDefault(), but it didn't have any effects.

[2018-10-09 14:54] shiftyp commented on #32
You're right, it's a bit tricker than that. I put together a [JSFiddle](http://jsfiddle.net/shiftyp/2c6yg3r9/) with a solution, which involves preventing the *keyDown* event default when the meta or ctrl keys are engaged. You also need to prevent the *keyPress*. I found this [stackOverflow](https://stackoverflow.com/questions/11000826/ctrls-preventdefault-in-chrome) particularly helpful in putting

[2018-10-19 23:48] MichelleGlauser commented on #6
This could include adding user login capability.

[2018-10-20 15:55] trevorpburke opened #37 "Firefox not compatible with `command` shortcuts"
My version of Firefox, 62.0.3, isn't working with `command` shortcuts. I think Chrome and Firefox use different keyCode.

[2018-10-20 18:50] deeptiGarg commented on #31
Issues List -
https://paper.dropbox.com/doc/Bugs-0OEj9V1CmEyCcJlOUaOmD

[2018-10-20 18:50] #31 closed

[2018-10-20 18:52] deeptiGarg commented on #8
Resolved

[2018-10-20 18:52] #8 closed

[2018-10-20 19:08] deeptiGarg opened #39 "Create gifs"
Create actions gifs based on wireframes at https://github.com/Techtonica/keyboard-shortcuts-practice/wiki

[2018-10-20 20:03] deeptiGarg commented on #32
Add next & previous buttons for commands which cannot be overridden.

[2018-10-20 20:39] deeptiGarg commented on #39
GIF Folder -  https://drive.google.com/drive/folders/13BoAagmAHvJ1OaKe75Saa_xoYSFmlM2Q

Remaining -
ctrl-l
ctrl u
ctrl w
ctrl y
command shift z
Command-Option-H
Command-K

[2018-10-20 20:48] tonyd256 commented on #30
Added confetti!! 08449b2c507881a748f8894f0012f46f1df3b2eb

[2018-10-20 20:48] #30 closed

[2018-10-20 20:53] deeptiGarg opened #40 "Visual Designs"
Change designs like color etc to match wireframes and designer suggestions.

[2018-10-20 21:54] trevorpburke commented on #6
In [my branch](https://github.com/Techtonica/keyboard-shortcuts-practice/tree/user-login) I have registration and login functionality. Instead of http-server it uses Flask, a Python micro web framework.

[2018-10-20 23:07] tintinp commented on #37
fixed

[2018-10-20 23:07] #37 closed

[2018-10-21 11:16] leventdeniz opened #41 "Klicking the next button too fast will display all questions rotated through"
If you klick the next button too fast (before the typewriter animation is finished), the script will just continue writing all the previous questions until it reaches the current question.

For example:
If I start at questionNo 1 and click really fast until questionNo 9 I'll get this in the text div:

[2018-12-20 02:59] falun commented on #6
I'll make an attempt at this. Will plan to, initially, store data in local storage / cookie with the intent of making it easy to shift to some user-keyed location on the server.

I don't think I have rights to actually assign or set in progress so this is kind of a mark in the sand for a bit.

[2018-12-21 01:54] #41 closed

[2019-01-08 22:16] alodahl opened #44 "Force quit hotkeys don't not affect app"
Force quit hotkeys don't not affect app, you just get the forcequit dialog.

[2019-01-08 22:21] alodahl opened #45 "command hotkeys should be escaped instead of executed"
cmd+t
cmd+n
cmd+shift+esc
cmd+space
cmd+tab
cmd+shift+~
cmd+shift+3

hotkeys should be escaped.  Right now they are executed and interfere with the program.

[2019-01-08 22:22] #44 closed

[2019-01-08 23:01] alodahl opened #46 "GHC'19: add persistence layer so users can log in and save progress"
Use our dedicated trello board for related issues: https://trello.com/invite/b/n0K4702v/bea90647f14eae2be2a1ac54e124d566/techtonica-keyboard-app-persistance-layer

[2019-01-10 19:40] judytuna opened #47 "Disambiguate between mac keyboard shortcuts and shell shortcuts"
I'd love to see some indication that the keyboard shortcut I'm on is for the mac operating system vs the shell.

Suggestion: add navigation between different sets of shortcuts, perhaps after we get shortcuts for more programs, #22

[2019-01-10 22:04] alodahl commented on #47
Since the 'mvp' is mainly done, I created a new project board:
 https://github.com/Techtonica/keyboard-shortcuts-practice/projects/4

[2019-08-01 16:41] alodahl opened #48 "update keyboard-shortcuts-practice README.md volunteer directions to more closely match the curriculum repo readme rules."
update keyboard-shortcuts-practice README.md  volunteer directions to more closely match the curriculum repo readme rules.

there have been a few updates this year that need to be transferred. Use your judgement about which ones apply to this project.

[2019-12-03 23:50] DuaneOBrien commented on #46
@alodahl I was chatting with someone at one of our Open Source Study halls, and I wanted to clarify this issue/requirement.

If the only reason for the persistence layer is to preserve user progress between sessions, switching from sessionStorage to localStorage as the mechanism for preserving progress would meet this requirement, with a couple of caveats.

* progress would be only saved within th

[2019-12-20 16:30] alodahl opened #57 "Fix keyboard zoom bug"
<img width="755" alt="Screen Shot 2019-12-03 at 2 33 07 PM" src="https://user-images.githubusercontent.com/16828218/70095736-5ddc6480-15da-11ea-81bc-da203e14367e.png">

Zoom at 110%, 90%, 80% in chrome. Did not find the bug in Firefox.

To get started, follow the instructions in https://github.com/Techtonica/keyboard-shortcuts-practice/blob/backend/CONTRIBUTING.md

Originally reported by @IngridGd

[2020-01-27 04:35] #46 closed

[2020-06-19 18:42] #26 closed

[2020-09-08 23:33] vegetabill commented on #28
@alodahl this seems like a wishlist item and some of these are already done, e.g. there is now a package.json file. If we still think some of the individual subtasks are feasible and important, I can split them into new issues that someone might actually pick up.

[2020-09-13 01:01] alodahl commented on #28
FYI this is not priority, but we can look at it later.  In the next few weeks it would be best to get the backend issues ready.

[2020-09-13 01:32] alodahl opened #63 "Create an env file and share securely."
Create an env file and share securely.

1. Request Techtonica's login elephantsql.com database URL from Alina. She will email it to you.

1. Create a .env file with URL=<DB url/username/password> you received in the last step.

1. Create a .env.example file with the key and false value.  Make a PR to the `backend` branch.

1. Send  new .env to Alina.

1. Send a message to all Techtonica project te

[2020-09-13 01:40] alodahl opened #64 "Spike: plan how to record user's progress"
Note: make pull requests to techtonica/keyboard-shortcuts-practice's 'backend' branch.

Find out the best way to record a user savepoint in Techtonica/keyboard-shortcuts-practice.

Document your new dev plan + user journey for how to access the data for a savepoint at the bottom of the project's ReadMe.md.

People who pick this up are going to have to research how the practice app progresses throu

[2020-09-13 01:45] alodahl opened #65 "Finish ORM setup"
Note: These steps may be partially done.

1. Connect the ORM in `JS/orm.js` to be used in keyboard-shortcuts-practice's main server file.

1. Create a basic model for a user: username and id. Export the user model.

1. Create a router file and import 'user' from your model file.

[2020-09-13 01:47] alodahl opened #66 "First GET request: /user/progress"
Add new GET endpoint for the path `/user/progress`

This endpoint should return the following hardcoded response (since we don't yet know who the user is or their saved progress).

[code]

Once the main.js loads, add an AJAX call (using `fetch`, not jQuery) to the above endpoint and set the current question to the returned `currentQuestionNumber`

[2020-09-13 01:48] alodahl opened #67 "Save answer POST request"
This depends on #72 so work on that first if you're interested and it isn't already assigned.

Add a new `POST` endpoint for the route: `/user/answers/question/{questionNumber}`

In the body of the request, include the necessary attributes (see #72) to save.

(Until auth is implemented, you can use `guest` as the user_id. Just make sure the record exists so the foreign key constraint isn't violate

[2020-09-13 01:49] alodahl opened #68 "First DELETE request"
First DELETE request

1. Create a working basic DELETE request for user: { username, id } based on the project's existing DB and ORM.

2. Add your endpoint and example request and response in the ReadMe.

Request the project .env from teammates.

[2020-09-13 01:50] alodahl opened #69 "First PUT request"
First PUT request

For this task, you will be adding a column/field to the user: savepoint.
1. Create a working basic PUT request for user: { username, id, savepoint } based on the project's existing DB and ORM.
2. Add your endpoint and example request and response in the readme.

Dependencies:
- Savepoint strategy must be documented.
- Ask Techtonica teammates for the project .env .

Not required

[2020-09-13 01:52] alodahl opened #70 "Write user's progress PUT request"
User story:
As a user, I want to have my savepoint automatically recorded as I progress. No "save" button should be required.
- The plan for creating a savepoint should be in the readme.

- Add your endpoint and example request and response in the readme, or update if it overrides an existing endpoint.

Dependencies:
P1(blue) & P2(green) Issues

[2020-09-13 01:53] alodahl opened #71 "Spike: plan what kind of authentication makes sense"
Spike: plan what kind of authentication makes sense

Make a plan regarding which type of Auth0 authentication to use:
- Password authentication
- Passwordless (via email link)
- Google sign-in

Detail your decision in the project ReadMe.md.

[2020-09-13 01:55] alodahl opened #72 "Add UserAnswers model and DB schema to orm.js"
A a new model in orm.js based on this definition

#### `user_answers` table / UserAnswers model

All of these columns are `NOT NULL` unless otherwise specified.

- `id`: primary key / integer sequence
- `user_id`: string (foreign key to `users.id`)
- `question_number`: integer
- `is_correct`: [boolean](https://sequelize.org/master/manual/model-basics.html#boolean)
-  `elapsed_time_ms`: integer
- `

[2020-09-13 02:01] alodahl opened #73 "Integrate Auth0 middleware into the server"
You'll need to register your own free account with [Auth0](https://auth0.com/) to work on this issue.

- Create a new application in your Auth0 account
  - The type is *Regular Web Application*
- Follow the Auth0 tutorial for NodeJS / Express to integrate it into the app
  - Using the Auth0-endorsed express middleware, [express-openid-connect](https://www.npmjs.com/package/express-openid-connect)

[2020-09-13 02:04] alodahl opened #74 "Create fake login/logout for local development"
Auth0 is being integrated as part of #73 but we don't want to force all contributors to configure Auth0 just to work on the app so we'll have a simple auth setup for local development.

Feel free to suggest a better way to do this. This just one possible way among many.

- This should be the default way the app works unless Auth0 is setup - which will be done in #73
- Add the [cookie-session](http

[2020-09-13 02:07] alodahl opened #75 "Add Login/Logout button to the UI"
Note: make pull requests to  techtonica/keyboard-shortcuts-practice's 'backend' branch.

Design and implement a Login and Logout button. They should take the user to `/login` and `/logout`, respectively but those pages don't currently exist yet and will just show a 404.

Please design with either a navbar or just a button on the top of the page. It's up to you. There is currently no toolbar or hea

[2020-09-13 02:10] alodahl opened #76 "Add Login button to the UI that shows correct status"
(Originally this was split between UI in #75 and showing the state but it should be simple enough for it to be a single ticket)

Note: make pull requests to techtonica/keyboard-shortcuts-practice's 'backend' branch.

## UI Portion
Design and implement a Login button. They should take the user to /login and /logout

Please design with either a navbar or just a button on the top of the page. It's up

[2020-09-13 02:10] alodahl opened #77 "Logging in will return user to the last question they were on"
This is blocked by #66 and is to correctly implement the `/user/progress` placeholder endpoint.

Until #74 is implemented, you will need to set up Auth0 in order to know how is logged in.

We should lookup the most recently added answer data for a user and return its question number + 1 as the current number. We should use this as the authoritative source of the current question number, not local

[2020-09-13 02:12] alodahl opened #78 "Add Auth0 authentication to sign in button"
Add Auth0 authentication to sign in button.

[2020-09-13 02:12] alodahl opened #79 "Verify login/logged in button functions (UI)"
Now that we have Auth0 integrated in #73 and a simple auth for local development in #74, let's make sure the login/already logged in button shows the correct state. The button should show 'log-in' when there is no user yet, and switch to 'logged in' when the user has been authenticated.

Ensure that the logged in state:

- is visible once the user logs in
- toggles from log-in to logged in in the

[2020-09-13 02:13] alodahl opened #80 "Remove authentication on log-out button click."
Remove authentication on log-out button click.

[2020-09-13 02:14] alodahl opened #81 "Ensure correct user data is being fetched when a user logs in."
Ensure correct user data is being fetched when a user logs in.

[2020-09-13 02:15] alodahl opened #82 "Ensure ReadMe.md API endpoint examples are up-to-date (docs)"
Ensure all ReadMe.md API endpoint examples are up-to-date (docs).

[2020-09-13 02:16] alodahl opened #83 "Ensure ReadMe no longer contains outdated development notes, and is ready for public use. (docs)"
Ensure ReadMe no longer contains outdated development notes, and is ready for public use. (docs)

[2020-09-13 02:17] alodahl opened #84 "User-test new feature. Make more cards to fix any bugs."
User-test new feature. Make more cards to fix any bugs.

[2020-09-13 02:19] alodahl opened #85 "Merge 'backend' branch to main!"
Merge 'backend' branch to main!

[2020-09-13 02:20] alodahl opened #86 "Deploy our new web app!"
1. Deploy our full-stack Keyboard Practice App to the public!  You can use the tool of your choice;  some ideas are:
  - Deploy on Heroku: https://youtu.be/AZNFox2CvBk
  - Deploy on Netlify.com: https://www.youtube.com/watch?v=lCcBEDPTk4o
  - Deploy to Netlify via command line: https://youtu.be/FiU3SHEaFwk
2. Add a link to the new live site on our README.md.  This time you can make a PR to the mai

[2020-09-13 02:21] #48 closed

[2020-09-13 02:28] alodahl commented on #46
I moved all the issues to the GitHub Project board.  https://github.com/Techtonica/keyboard-shortcuts-practice/projects/4

[2020-09-13 02:29] alodahl commented on #64
![userflow](https://user-images.githubusercontent.com/29131689/93008829-48637600-f52e-11ea-97d4-ac25373ad9b6.jpeg)

[2020-09-13 02:43] marcobarrera commented on #66
May I work on this issue?

[2020-09-13 02:46] alodahl commented on #66
Hi @marcobarrera, I'm actually saving these issues for a Grace Hopper Open Source Day team event next month.  However, we need lots of help here right away --> https://github.com/Techtonica/curriculum/projects/2

[2020-09-13 12:34] itsdell commented on #69
Hello, can I take this one?

[2020-09-14 03:07] alodahl commented on #69
Hi @itsdell, I'm actually saving these issues for a Grace Hopper Open Source Day team event next month. However, we need lots of help here right away --> https://github.com/Techtonica/curriculum/projects/2

[2020-09-14 23:01] josselineperdomo commented on #86
Hi @alodahl I am going to participate in the GHC Open Source Day this year, and I chose this project :) so, my question is how to prepare me for that day?, I want to know all for this project and do a great contribution and I checked if you had an IRC chat or something like that but  I didn't found anything.  Any advice I would appreciate it :D. Thanks a lot.

[2020-09-14 23:47] alodahl commented on #86
Hi @josselineperdomo check out our contributing doc! https://github.com/Techtonica/keyboard-shortcuts-practice/blob/main/CONTRIBUTING.md

[2020-09-15 00:12] josselineperdomo commented on #86
Ohh thank you so much @alodahl I will check that link

[2020-09-15 23:42] vegetabill commented on #63
This should probably be done by a project admin and we shouldn't share the credentials unless someone is debugging a production bug that needs it.

For those who need a local dev databases, we should link to [Homebrew postgres setup](https://github.com/Techtonica/curriculum/blob/main/databases/installing-postgresql.md) or Heroku/ElephantSQL free hosted tiers.

[2020-09-16 19:53] vegetabill opened #89 "Add prettier support and enforce with hook"
If we're planning on a lot of different contributions, it might be nice to have a consistent format for the code.

[2020-09-20 17:05] alodahl commented on #63
Ah, that’s a good idea. Would you be open to adding a section in contributing about how to create their own DB and connect it to the project? Or write an issue to have someone do that early on, as well as add links to it in related issues?

[2020-09-20 17:07] alodahl commented on #63
Question: could we do something similar for Auth0?

[2020-09-23 01:03] vegetabill commented on #63
@alodahl since we're using sequelize, it's possible to use sqlite locally so no one will need to setup anything. This seems ideal, especially for Open Source Day.

I opened a PR that does that, #91, so as long as contributors use the sequelize API for any DB access, it shouldn't matter that they're developing against postgres.

[2020-09-23 01:06] vegetabill commented on #63
For Auth0, I'm trying to achieve the same thing but I'll need to re-familiarize myself with Auth0 to see what the options are.

[2020-09-25 00:46] vegetabill commented on #89
This guide covers what we might want (except we won't need any of the React-related plugins):

https://medium.com/@loclghst/set-up-eslint-prettier-and-pre-commit-hooks-using-husky-for-react-73e7a51cda26

Feel free to use a different strategy if you know of a simpler one.

[2020-09-25 00:54] vegetabill commented on #28
Sounds good. I updated the body of this ticket to reflect ideas that were already done or are already separate tickets.

I think the only idea still worth having here is converting view layer to React but IIRC that was an explicit decision not to change. If so, we can just close this or repurpose its title to represent that idea and we can document the reasoning for/against it in case the suggesti

[2020-09-25 01:16] vegetabill opened #92 "Add 'defer' attributes to script tags in index.ejs"
Having all the external JavaScript loaded before the HTML means that on a slow connection the page will not display until all of the resources are downloaded, but we don't really need the JavaScript to be able to render the keyboard, only to start the welcome animation.

For each of the `<script>` tags at the top of the HTML body, please add a `defer` attribute to them.

After making this change,

[2020-09-25 02:20] vegetabill opened #93 "Add a nice favicon"
Find a free to use icon and make it our favicon

This site has a lot of free ones - https://www.flaticon.com/ as long as we properly attribute in our footer.

[2020-09-25 08:59] nidhishs commented on #93
Hey, I have some experience doing graphic design. If you want, I can design a custom favicon for you.

[2020-09-25 18:17] vegetabill commented on #64
Hi @alodahl , The draft below covers the data model and auth. Please take a look and provide feedback, in particular the bolded open questions.

### DB Tables

#### `users` table
- `id`: string - will be an Auth0 identifier or an arbitrary value like "test" value for local development
- `last_login`: timestamp

Indexes needed: none

#### `user_answers` table
- `id`: integer sequence
- `user_id`: s

[2020-09-26 21:31] alodahl commented on #93
Hi @nidhishs,  don’t go overboard for us, but that sounds amazing!

[2020-09-26 21:33] nidhishs commented on #93
Not a problem at all. Let me know what specifications you want, such as any colour schemes you want me to abide by, or any ideas you might have.

Also if you don't mind, it would be great if I could send the PR in October so it also get's counted for Hacktoberfest.

[2020-09-26 22:02] alodahl commented on #93
Of course, let's count this for hacktoberfest!

Check out our GitHub profile icon and Techtonica.org... our branding uses a certain shade of teal, and white.  Our only mascot so far has been the Golden Gate Bridge. @MichelleGlauser please jump in if there's more to it than that.

[2020-09-30 22:15] swarna-gopalan commented on #92
@vegetabill - I can take this one as part of GraceHopperOSD

[2020-09-30 22:17] swarna-gopalan commented on #89
@vegetabill - I can take this one as part of GraceHopperOSD

[2020-09-30 22:20] swarna-gopalan commented on #66
Not sure I follow the instructions but I can take a look at it with some guidance as part of GraceHopperOSD

[2020-10-01 01:45] alodahl commented on #64
This looks good!

I think guest usage should be fine.

Whatever feedback a user gets now should be available when they come back in another session, but we can break those things into separate issues do to later if need be.

[2020-10-01 01:49] alodahl commented on #64
Also, I disagree that we don't need a login button. Would we want the user to be able to trigger the Auth0 login UI? And log out?  We just wouldn't need to design an input. Also, with a login button, the user has the option not to log in.  But we can discuss tomorrow =)

[2020-10-01 03:20] #65 closed

[2020-10-01 03:40] vegetabill opened #94 "Setup webpack for the browser JavaScript"
Currently, the files in `public/scripts` are included one by one in script tags on our HTML pages. This makes it a little tricky for interdependencies between the files and for requiring external packages.

Ideally, we'd like to build a single bundle of JavaScript that combines any necessary dependencies that are available as NPM packages.

Please look into this and configure that for our project

[2020-10-01 04:17] vegetabill opened #95 "Replace jQuery ajax with fetch"
For our API calls in `main.js` we're currently using jQuery's AJAX functions. These are outdated and use non-standard promises.

Let's migrate these to use `fetch`

[2020-10-01 04:36] vegetabill commented on #68
@alodahl not sure what we need this DELETE for so I demoted it. If I misunderstood, we can put it back. With Auth0 I don't know how to unregister an account and even if we do, most people don't explicitly close their inactive accounts.

[2020-10-01 04:40] vegetabill commented on #69
Functionality now handled by
Save answer POST request #67

[2020-10-01 04:40] #69 closed

[2020-10-01 04:40] #70 closed

[2020-10-01 04:41] vegetabill commented on #70
Handled by:
Save answer POST request #67

[2020-10-01 05:07] vegetabill opened #96 "Add ability to retrieve timing history for a single question"
Currently, the timing history is stored in local storage. The code for it is in `history.js.` But after #67 we can retrieve this from the database instead.

- Add a new `GET` endpoint `/user/answers/question/{questionNumber}`
- Respond with 0-3 answer records if they exist (JSON shown below)
- Use this data to populate the existing timing boxes

[code]
If there is no history, if they have never an

[2020-10-01 05:49] vegetabill commented on #78
The middleware will handle this so we don't need to do anything special. Closing.

[2020-10-01 05:51] vegetabill commented on #64
Mapped these reqs to the tickets on the board. Closing as done.

[2020-10-01 05:51] #64 closed

[2020-10-01 05:51] #71 closed

[2020-10-01 05:52] vegetabill commented on #71
Solution documented in #64

[2020-10-01 05:53] vegetabill commented on #63
Solution documented in #64 - we should not need a shareable .env

[2020-10-01 05:53] #63 closed

[2020-10-01 15:41] Sgeis18 commented on #75
Hi, I would like to pick up this issue.

[2020-10-01 15:41] linhhvo commented on #95
Hi @vegetabill - I would like to work on this!

[2020-10-01 16:03] #68 closed

[2020-10-01 16:03] linhhvo commented on #95
@alodahl Got it! I will check out other priority 1 or 2 issues.

[2020-10-01 16:07] ambikasadhu1101 commented on #72
I'd like to work on this

[2020-10-01 16:52] isabellberzsenyi commented on #73
I'd like to pick this task up!

[2020-10-01 16:57] astha01 commented on #75
Hi, I would also like to work on it

[2020-10-01 16:59] astha01 commented on #95
Hi, Would like to work on this

[2020-10-01 17:00] josselineperdomo commented on #67
I would like to choose this issue.

[2020-10-01 17:01] snarvekark commented on #80
I would like to work on this issue

[2020-10-01 17:02] astha01 commented on #81
Hi would like to work on it

[2020-10-01 17:03] Sangvi98 commented on #76
I would like to work on this issue.

[2020-10-01 17:05] nayelimdejesus commented on #76
I would like to work on this

[2020-10-01 17:06] vegetabill commented on #67
@josselineperdomo I've assigned you so you can get started but keep in mind to get this fully working, you'll need #72 to be merged so just keep that in mind 😃

[2020-10-01 17:07] Shraddha2104 commented on #76
Would you guys like to pair up? @nayelimdejesus and @Sangvi98 ?

[2020-10-01 17:07] racheltl commented on #92
I'm interested in working on this as well!

[2020-10-01 17:07] vegetabill commented on #73
Thanks @isabellberzsenyi I've assigned you! Lmk if you have any questions as you work on it

[2020-10-01 17:11] vegetabill commented on #75
@Sgeis18 I've assigned you but feel free to ping @astha01 if you'd like to pair!

[2020-10-01 17:12] Sgeis18 commented on #75
Sure - @astha01 would you like to work together?

[2020-10-01 17:12] rpytan commented on #74
I'm interested in working on this.

[2020-10-01 17:14] astha01 commented on #82
Hi, would like to work on it

[2020-10-01 17:15] Shraddha2104 commented on #82
Awesome!

[2020-10-01 17:15] astha01 commented on #81
Thanks ! @danisyellis

[2020-10-01 17:16] alodahl commented on #76
@Sangvi98 yes, 74 and 75 need to happen first.

[2020-10-01 17:18] nayelimdejesus commented on #76
Sounds good!

[2020-10-01 17:20] MariaKhantech commented on #74
I am interested in working on this.

[2020-10-01 17:20] tilaprimera commented on #95
Would you like to still work on it, I can have it assigned to you @astha01

[2020-10-01 17:23] vegetabill commented on #74
@rpytan I've assigned you but feel free free to pair with @MariaKhantech  if you'd like!

[2020-10-01 17:28] vegetabill commented on #47
I think for this we just need a new attribute in the JSON data and a visual indicator of your choosing.

[2020-10-01 17:29] Sangvi98 commented on #66
Hi! Is this issue still open? I commented on another one that needs other issues to be resolved first and I'd like to work on this in the meantime.

[2020-10-01 17:31] MariaKhantech commented on #68
I would like to do this if it is still available.

[2020-10-01 17:32] Shraddha2104 commented on #68
I think it's closed for now, try to pick another one!

[2020-10-01 17:33] alodahl commented on #68
Hi @MariaKhantech , we realized this one wasn't needed so we closed it.  Try one of these: https://github.com/Techtonica/keyboard-shortcuts-practice/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+label%3A%22help+wanted%22+no%3Aassignee

[2020-10-01 17:34] MariaKhantech commented on #77
I would like to take this if it has not been assigned yet.

[2020-10-01 17:41] MariaKhantech commented on #94
I would like to try this

[2020-10-01 17:42] Shraddha2104 commented on #94
Assigned!

[2020-10-01 17:46] belebull commented on #47
Happy to help with this! Is there a preferred indicator for this (maybe a simple tag under the cheat sheet link)? I can also create some quick mockups

[2020-10-01 17:48] ashley-g commented on #34
I'd like to work on figuring this out!

[2020-10-01 17:48] alodahl commented on #47
Mockups would be great!  I'm sure there are mac and shell icons out there, but I assume you mean where to show them on the app UI.

[2020-10-01 17:48] alodahl commented on #47
Or even a colored tag would work!

[2020-10-01 17:50] arpi-r commented on #34
Assigned!

[2020-10-01 17:51] belebull commented on #47
Maybe something like this
<img width="1004" alt="Screen Shot 2020-10-01 at 12 50 57 PM" src="https://user-images.githubusercontent.com/10715618/94845091-cd7ed400-03e4-11eb-87e5-0aacc21443ac.png">

[2020-10-01 17:54] KatShambaugh commented on #45
I will look into fixing this!

[2020-10-01 17:55] vegetabill commented on #80
@snarvekark sorry for the confusion this issue is blocked until Priority 5 so I'm going to unassign you at the moment in case you want to work on a different issue. But you can have priority later to work on it when it's unblocked.

[2020-10-01 18:04] snarvekark commented on #80
No worries, I will work on another issue

[2020-10-01 18:07] Sangvi98 commented on #96
I'd like to be assigned to this issue!

[2020-10-01 18:09] arpi-r commented on #96
Assigned!

[2020-10-01 18:11] alodahl commented on #96
You can get started, but keep in mind to get this fully working, you'll need #67 to be merged so just keep that in mind 😃

[2020-10-01 18:25] vegetabill commented on #95
@astha01 this is not blocked on anything. So feel free to start! Sorry for the confusing labels.

[2020-10-01 18:27] Sangvi98 commented on #96
Just to make sure my understanding is correct, I can actually go ahead and work on this but to test whether I've implemented it correctly, I would need #67 to be resolved first?

[2020-10-01 18:30] vegetabill commented on #96
@Sangvi98 you can't really do much with this until #67 is merged, unless you're comfortable creating a hardcoded API endpoint to return some test data. If you want more details on this, just lmk!

[2020-10-01 18:31] vegetabill commented on #80
This will be done by Auth0 or the fake auth so it shouldn't need any specific work.

[2020-10-01 18:31] #80 closed

[2020-10-01 18:38] #72 closed

[2020-10-01 18:51] vegetabill opened #99 "[jQuery] Replace CSS toggle class with built-in function"
We are using jQuery DOM selectors to toggle classes and visibility in main.js but now all of those functionalities are part of the browser built-in functions.

Replace all class toggles, e.g. `$('.letter').toggleClass('uppercase');` with the equivalent using the standard `document.querySelector` and [`Element.classList`](https://developer.mozilla.org/en-US/docs/Web/API/Element/classList)

[2020-10-01 18:53] vegetabill opened #100 "Bug: npm start cannot work on Windows"
Currently `npm start` runs `NODE_ENV=development nodemon` but that only works on unix/mac.

Please look into a cross-platform way to specify env variables, if one exists or a way to vary the script based on platform.

[2020-10-01 18:59] josselineperdomo commented on #67
I saw that the #72 was merged so I am finishing this issue, I am going create the PR soon :)

[2020-10-01 19:05] soxinmypocket commented on #99
I would like to work on this one

[2020-10-01 19:08] vegetabill commented on #96
@Sangvi98 just FYI the backend model for this was merged so you can work on this as long as you're okay manually creating test data (since the real functionality to save the previous answers is waiting on #67)

[2020-10-01 19:09] vegetabill commented on #96
The PR is #97

[2020-10-01 19:10] alodahl opened #101 "fix a vulnerability"
See the problem here:

https://github.com/Techtonica/keyboard-shortcuts-practice/network/alert/package-lock.json/ecstatic/open

[2020-10-01 19:13] Shraddha2104 commented on #101
Hi Alina,
I think the link is broken.

[2020-10-01 19:16] vegetabill opened #102 "[refactor] Replace repetitive if blocks with lookup"
The long if statements in this function are very repetitive. Please come up with a better way with less duplication to have this functionality work, such as a [lookup object](https://www.codereadability.com/replacing-if-statements-with-object-lookups/) or something else of your own choosing.

https://github.com/Techtonica/keyboard-shortcuts-practice/blob/1a642f3ce4a136ec3b325beec781f4ab97b18935/pu

[2020-10-01 19:21] nadyafebi commented on #102
Hi! I would love to work on this!

[2020-10-01 19:22] alodahl commented on #101
Maybe its only visible to admins.  I'll paste the text here.

[2020-10-01 19:22] alodahl commented on #101
ecstatic
 Open	GitHub opened this alert 4 hours ago
1 ecstatic vulnerability found in package-lock.json 4 hours ago
Remediation
No patched version is available.

Details
CVE-2019-10775
high severity
Vulnerable versions: <= 4.1.2
Patched version: No fix
Versions of ecstatic prior to 4.1.2, 3.3.2 or 2.2.2 are vulnerable to Open Redirect. The package fails to validate redirects, allowing attackers to

[2020-10-01 19:23] Shraddha2104 commented on #102
Assigned!

[2020-10-01 19:25] vegetabill commented on #100
I have seen this used before but there might be other ways too: https://github.com/kentcdodds/cross-env

[2020-10-01 19:29] anuragsati commented on #101
Hey! can i do this?

[2020-10-01 19:30] vegetabill opened #104 "[jQuery] Replace jQuery.text function with native function"
Currently we are using jQuery to update DOM contents but native browser functions exist to do this in a standard way so we don't need to rely on jQuery for this.

Example:
https://github.com/Techtonica/keyboard-shortcuts-practice/blob/1a642f3ce4a136ec3b325beec781f4ab97b18935/public/scripts/main.js#L213

Search for all usages of the `.text(` function and replace with standard functionality.

[Stack

[2020-10-01 19:30] Shraddha2104 commented on #101
Assigned!

[2020-10-01 19:35] vegetabill commented on #66
I pinged the assignee in slack to see if they're actively working on it. If not, we can unassign.

[2020-10-01 19:44] linhhvo commented on #104
Hi @vegetabill, can I work on this?

[2020-10-01 19:45] anuragsati commented on #101
I'm not sure how to approach this. In package-lock.json ecstatic's version is already 3.3.2
![image](https://user-images.githubusercontent.com/52669445/94855834-bbd11700-044c-11eb-9da2-d91ea860251d.png)

[2020-10-01 19:49] vegetabill commented on #100
For a workaround on windows, you can just remove the `NODE_ENV=production` in package json command:

https://github.com/Techtonica/keyboard-shortcuts-practice/blob/12b8ae0acd99ae57ec81dba48cf89ddd77d04b06/package.json#L9

Please don't commit this if possible.

[2020-10-01 19:57] vegetabill opened #106 "Delete unneeded files"
The following files are no longer needed and can be deleted

- userinfo.html
- shortcuts.txt

[2020-10-01 19:58] mobasergio commented on #106
Hi there, let me get this one!

[2020-10-01 20:00] Shraddha2104 commented on #106
Assigned!

[2020-10-01 20:04] vegetabill commented on #66
Spoke to assignee in slack and they haven't had a chance to work on this so throwing back in the pool for now since other issues depend on this.

[2020-10-01 20:04] arpi-r commented on #104
Assigned!

[2020-10-01 20:49] Sangvi98 commented on #96
Hi! I was having issue figuring out how to go about this, so I unassigned myself for now.

[2020-10-01 20:55] #102 closed

[2020-10-01 20:55] vegetabill commented on #102
@nadyafebi thanks for fixing this!

[2020-10-01 20:59] ayushjain94 commented on #66
@vegetabill I would like to take this one.

[2020-10-01 21:00] Shraddha2104 commented on #66
Assigned!

[2020-10-01 21:03] paulrrdiaz commented on #100
Hey @vegetabill could I work on this?

[2020-10-01 21:09] vegetabill opened #111 "Replace use of jQuery add/remove class"
We are using jQuery DOM selectors to toggle classes and visibility in main.js but now all of those functionalities are part of the browser built-in functions.

For all usages of CSS class add and remove functions, e.g.

https://github.com/Techtonica/keyboard-shortcuts-practice/blob/27c54db1ce3187f2f40434fdabe677976d53cedc/public/scripts/main.js#L116

or

https://github.com/Techtonica/keyboard-shor

[2020-10-01 21:21] paulrrdiaz commented on #100
@alodahl done

[2020-10-01 21:39] #34 closed

[2020-10-01 21:41] i-aryan commented on #111
Hey. I can get it done! Assign, please @vegetabill

[2020-10-01 21:43] Shraddha2104 commented on #111
Assigned!

[2020-10-01 21:50] #106 closed

[2020-10-01 21:59] nayelimdejesus commented on #75
I can work on this

[2020-10-01 22:10] alodahl commented on #75
Hi @nayelimdejesus this is already in progress.  check out the top issues in the ToDo column here: https://github.com/Techtonica/keyboard-shortcuts-practice/projects/4

[2020-10-01 22:11] KatShambaugh commented on #45
I have fixed this for a few of the command + key combinations, though some of them it seems like the browser won't let me override the keyboard shortcut.

[2020-10-01 22:31] #92 closed

[2020-10-01 23:19] alodahl commented on #104
@linhhvo , if there is more jQuery you'd like to address, we can make an issue for you after you make a PR.

[2020-10-01 23:33] alodahl commented on #95
already addressed in https://github.com/Techtonica/keyboard-shortcuts-practice/pull/109/

[2020-10-01 23:48] #67 closed

[2020-10-01 23:50] #100 closed

[2020-10-02 00:06] vegetabill opened #121 "Replace window resizing listener with CSS"
AFAIK listener can be almost certainly be replaced with a CSS rule that uses `100vh`. Please remove it and replace with that rule.

https://github.com/Techtonica/keyboard-shortcuts-practice/blob/21c1043d8e7275c151a6bb5d742987a3844b5f2e/public/scripts/main.js#L57-L60

[2020-10-02 00:06] #95 closed

[2020-10-02 00:11] #47 closed

[2020-10-02 00:26] alodahl commented on #101
Sorry I missed this thread!  See if installing something over  4.1.2 will still work for us.

[2020-10-02 01:07] FrankyFrankFrank commented on #121
I can do this. Filled out the volunteer form and will come through with a PR very shortly.

[2020-10-02 01:16] FrankyFrankFrank commented on #121
#124

[2020-10-02 04:47] belebull commented on #4
I'd be happy to work on this as well!

[2020-10-02 04:55] masbagal commented on #4
Hi, I'd be willing to help on this issue

[2020-10-02 15:48] alodahl commented on #78
@vegetabill please push back on this if I'm wrong, but I think this is still needed if theres a userless mode.

[2020-10-02 15:50] alodahl commented on #32
duplicate of #45

[2020-10-02 15:50] #32 closed

[2020-10-02 15:53] alodahl commented on #23
Closing since this was moved to "Done".

[2020-10-02 15:53] #23 closed

[2020-10-02 15:55] alodahl commented on #78
Or is this a duplicate of #76 ?

[2020-10-02 15:55] alodahl commented on #78
Oh I see. This is a duplicate of #76.

[2020-10-02 15:55] #78 closed

[2020-10-02 17:44] #111 closed

[2020-10-02 17:57] #73 closed

[2020-10-02 18:08] #121 closed

[2020-10-02 18:23] #104 closed

[2020-10-02 23:29] nidhishs commented on #93
Hey, I'm extremely for ghosting you guys for almost a week. Was busy with some assignments, but now I'm back :)

Considering you guys need a favicon, I figured having something as detailed as your mascot (the Golden Gate Bridge) inside a tiny favicon wouldn't look good. So I designed this icon with the ⌘ icon since the concerned website is for keyboard practice. This is the first idea that came to

[2020-10-03 19:16] alodahl commented on #93
I love the first command key one!  😍  What do you think @vegetabill @MichelleGlauser ?

[2020-10-03 19:26] #101 closed

[2020-10-03 19:39] alodahl commented on #4
Fixed in #127

[2020-10-03 19:39] #4 closed

[2020-10-03 19:41] alodahl commented on #45
#118 addresses, but doesnt resolve this issue.  Move it back to 'To do' once #118 is merged.

[2020-10-03 20:29] saifulshihab commented on #86
Hello, I want to contribute to this repo.

[2020-10-03 22:00] josselineperdomo commented on #96
Hi! I would like work with this issue  :)

[2020-10-04 15:32] nidhishs commented on #93
@alodahl If you like the first icon, should I make a PR for it?
I'll add the icon to images/favicon

[2020-10-05 04:02] vegetabill commented on #96
@josselineperdomo awesome! I assigned you. Lmk if you have any questions!

[2020-10-05 15:38] alodahl commented on #86
That's great, @saifulshihab !  You can pick up any issues that are in the ToDo column and are not "blocked": https://github.com/Techtonica/keyboard-shortcuts-practice/projects/4

We are also seeking help with our curriculum documentation here: https://github.com/Techtonica/curriculum/projects/2

[2020-10-05 15:41] alodahl commented on #93
I'd like a few more Techtonica leaders to have a look this week before the final decision. Thanks @nidhishs !

[2020-10-05 19:29] vegetabill commented on #93
Thanks for this contribution, @nidhishs

+1 to @alodahl 's choice. I too like the top left one the best. What's your take, @MichelleGlauser ?

[2020-10-05 23:07] vegetabill commented on #74
Hi @rpytan not sure how much progress you made on OSD or if you anticipate having time to finish it. If not, perhaps @MariaKhantech might be interested in working on it or we can also just unassign it for someone else to pick up. Either way is fine. Just let us know. Thanks!

[2020-10-05 23:11] vegetabill commented on #81
@alodahl this seems like a dupe of #77 to me. Is there some other data that we are expecting to need upon login?

[2020-10-06 01:14] alodahl commented on #93
Michelle's feedback:
"Hi Alina, maybe they could do something with a keyboard or a bunch of buttons?
Or we could just use the Techtonica favicon."

[2020-10-06 01:19] alodahl commented on #93
She's also wondering how you would feel about removing the brackets from the command symbol one.

[2020-10-06 01:57] vegetabill opened #130 "Test prod-like functionality"
Since dev mode uses sqlite and does not use Auth0, we want to double check the logic works correctly as it will in a prod-like environment.

- Configure Auth0
- Use postgres DB

(Instructions for both should be in the README)

If anything doesn't work as expected, open bug issue(s)

[2020-10-06 07:49] nidhishs commented on #93
Thanks Alina for conveying the feedback

Yes that was my initial thought, however the button on the keyboard would look too cluttered when shrunk to the size of a favicon. However, I will design it, and you can decide if it suits your taste.

Very much possible if you prefer it that way. I'll make the changes and share them here later today.

Yes the favicon on that site is certainly useable. Plea

[2020-10-06 19:18] y-martinez commented on #74
Hi! @vegetabill I would like to work on this issue if the PR has not yet been created, I can still wait for the response from the people who are assigned to it.

[2020-10-06 19:20] y-martinez commented on #74
Ohh I had not seen that you solved it

[2020-10-06 20:37] vegetabill commented on #79
@alodahl is this just an accidental dupe of #76 ? I may have created it when triaging issues the day before OSD.

[2020-10-06 20:41] vegetabill opened #131 "[Refactor] Consolidate all API calls into an api-client.js file"
With webpack support enabled by #94 we can now make our browser JavaScript better.

Please move all `fetch` calls currently in `main.js` into a new file called `api-client.js`.

That way we can consolidate all error handling and if the API call returns a 401 we will need to prompt the user to log back in.

[2020-10-06 20:44] vegetabill commented on #131
Blocked on #77 and #96 so all the API calls are there to move.

[2020-10-06 21:24] rpytan commented on #74
Hi Bill,
Sorry for the late reply. Unfortunately, I was not able to make much
progress during OSD and I don't think I will have time to continue with it.

On Mon, Oct 5, 2020 at 6:07 PM Bill DePhillips <notifications@github.com>
wrote:

[2020-10-06 22:43] nidhishs commented on #93
Removed the < > symbol.
![Artboard 10](https://user-images.githubusercontent.com/55269918/95267679-1a740780-0836-11eb-9c5c-5da7bcc54d5a.png)

Tried making a minimalist keyboard.
![Artboard 11](https://user-images.githubusercontent.com/55269918/95267694-219b1580-0836-11eb-8cb4-b3ff82bfdbdc.png)

Let me know what you think of these.

[2020-10-07 00:23] vegetabill commented on #39
@alodahl not sure if this is still needed but it's the only open item on the MVP board so we should at least move it ahead and retire the board, right?

[2020-10-07 00:24] vegetabill commented on #74
Thanks for the offer, @y-martinez. Hopefully you see another issue that interests you. We have a bunch. If you need help finding one, please let me know.

[2020-10-07 00:25] vegetabill commented on #74
Since I worked on a spike of Auth0/dev auth while we were creating the issues, I am adapting that spike code for a PR that will be ready soon. Assigning to me in the meantime.

[2020-10-07 01:35] Karska-dev commented on #29
@alodahl I would like to help you with this one. Could you please assign it?

[2020-10-07 01:48] luciagirasoles commented on #57
I would like to help here

[2020-10-07 01:59] y-martinez commented on #131
Hi @vegetabill I know that this issue is blocked but I can work on this issue with the fetch calls already exist

[2020-10-07 02:10] lisza commented on #82
Please assign to me, I'll check it out!

[2020-10-07 02:44] ananyakaushik commented on #25
Hi @vegetabill would you be able to provide more details, if this issue is still open? I wasn't able to reproduce this on Chrome or Firefox, and Safari seems to use a different shortcut

[2020-10-07 09:33] #57 closed

[2020-10-07 09:59] alodahl commented on #79
It might be, @vegetabill !

[2020-10-07 10:08] alodahl commented on #79
Unless one is issue is for UI and one is for functionality.

[2020-10-07 10:12] alodahl commented on #81
I think you're more tuned-in to that at this point...  If you think that's all, please close the issue 🙂

[2020-10-07 10:14] alodahl commented on #93
I'll ask Michelle.  @nidhishs these are amazing 🤸🏼‍♀️

[2020-10-07 10:16] alodahl commented on #39
I'm not even sure what this is, tbh.  Maybe @deeptiGarg can let us know.

[2020-10-07 15:19] y-martinez commented on #99
This issue is available?

[2020-10-07 16:07] MichelleGlauser commented on #39
We wanted to have gifs showing what happens on the screen with each action so people would associate the action with the commands.

[2020-10-07 17:02] rajatRS commented on #83
I would like to take up this issue. :)
It would be great if you give a small example what you want to include in your readme so that I may get a better hand.

[2020-10-08 01:17] vegetabill commented on #39
Sounds like this is still important so I'm going to relocate it to the other board and close out this board so we don't have two boards.

[2020-10-08 01:39] vegetabill opened #136 "Add indexes needed by common queries"
This mostly only applies to postgres since we don't really care about this for local dev using sqlite.

For two commonly run queries, we probably want to add indexes to the DB to make them more performant:

1. `/user/answers/question/:questionNumber` looks up the most recent 3 answers by user and question number, so it likely needs an ordered index on created_at along with user id and question num

[2020-10-08 01:55] vegetabill commented on #25
@ananyakaushik thanks for testing it. It must have been fixed in the interim by some other change. Sorry! Closing as fixed.

[2020-10-08 01:55] #25 closed

[2020-10-08 01:56] vegetabill commented on #25
Oh not some random change, it was linked above by the banana person: https://github.com/Techtonica/keyboard-shortcuts-practice/pull/38/commits/032e29ce8ae4785cde93d4ba145ec7196c23d3a2 as part of #38

[2020-10-08 04:10] vegetabill commented on #81
Closing as dupe of #77. If we need more user state upon login, we can open another issue.

[2020-10-08 04:10] #81 closed

[2020-10-08 04:12] vegetabill commented on #79
Hmm, I think #75 is the UI part so I'm going to close this as a dupe of #76

[2020-10-08 04:12] #79 closed

[2020-10-08 15:18] alodahl commented on #83
Hi @rajatRS , it looks like this issue is blocked pending some other work.  Please consider #39 , #136 , or a To Do issue in our other repo: https://github.com/Techtonica/curriculum/projects/2.

[2020-10-08 16:13] rajatRS commented on #83
@alodahl Sorry, my bad :)

[2020-10-08 22:30] Karska-dev opened #138 "Show Hint. After switch between questions, some keys still highlighted."
When the user switches between questions with turned on hints, some keys remain highlighted.

**Prerequisites**: application is opened, show hint is turned off.
**Steps to reproduce**:
1. Switch to the question: How do you go to the beginning of the line you are currently typing on? (shell shortcut)
2. Turn on 'Show hint' -> 'control' and 'a' keys are highlighted.
3. Switch to the previous questio

[2020-10-08 22:33] Karska-dev commented on #138
@alodahl, @vegetabill  If you find this issue relevant, I would be glad to fix it.

[2020-10-08 22:48] vegetabill commented on #138
@Karska-dev thanks for reporting this! I noticed it when testing your PR. Please do fix it if you can. I'm assigning it to you now.

[2020-10-09 01:02] #29 closed

[2020-10-09 07:09] nidhishs commented on #93
Do we have any suggestions or are we good to make a PR? @alodahl

[2020-10-10 00:11] alodahl commented on #93
Lets go with the keyboard!

[2020-10-13 14:50] #138 closed

[2020-10-15 01:45] Keerthi4308 commented on #76
Hi, I would like to contribute to this issue. Could you please assign this task to me. Thanks!

[2020-10-15 01:50] alodahl commented on #76
Hi @Keerthi4308 , it looks like there are some dependencies that need to be finished first. . Please consider #39 , #136 , or a To Do issue in our other repo: https://github.com/Techtonica/curriculum/projects/2.

[2020-10-15 02:24] Hausekey commented on #136
Hi there, I'd like to tackle this issue.

[2020-10-15 03:42] alodahl commented on #136
Thanks @Hausekey ! Please go through our contributing.md, then you can begin.

[2020-10-16 18:29] Hausekey commented on #136
Hi Alina and Bill,

I've followed through the contributing.md, and have been familiarizing myself with this project; I had a question about how to test the code with Postgres?
I believe I add the indexes code to orm.js, and I'd like to run some EXPLAIN queries, and report my findings. I see a dev-db.sqlite database, but haven't found any postgres ones.
In the meantime, I can play around with the s

[2020-10-21 00:31] #96 closed

[2020-10-21 00:32] #99 closed

[2020-10-21 00:33] vegetabill commented on #93
Closed by #140

[2020-10-21 00:33] #93 closed

[2020-10-23 21:13] vegetabill commented on #136
@Hausekey if you set `DB_URL=postgres://localhost/your-db-name` in the `.env` file or as an environment variable the app should connect to postgres and then you can proceed. HTH!

[2020-10-25 21:14] #74 closed

[2020-10-26 03:35] vegetabill commented on #66
Since we never merged this and we know have auth, this will just be superseded by #77

[2020-10-26 03:35] #66 closed

[2020-10-26 04:02] vegetabill commented on #77
While integrating all the piecemeal changes, I implemented this while doing #142 but since @MariaKhantech was still working on webpack, hopefully that's no problem.

[2020-10-26 04:29] vegetabill commented on #75
Closed in favor of #76 adding the UI and state.

[2020-10-26 04:29] #75 closed

[2020-10-29 00:33] Hausekey commented on #136
Thanks @vegetabill , I got it to work! I found out how to generate dummy data for both users and user_answers, so I can run some EXPLAIN and do some benchmarks.

When you wrote "so it likely needs an ordered index on created_at along with user id and question number", were you thinking of creating multi-column indexes or would single-column suffice?

[2020-10-29 18:34] vegetabill commented on #136
Yes @Hausekey I was thinking of a multi-column index. Intuitively, you'd think the DB would just combined indexes but IIRC it needs one for all of the WHERE or ORDER BY columns in order to make sure it uses an index fully. Obviously, our data isn't so big but it's more so we get snappy performance on the free DB tier. I think each important, commonly run query needs its own index in our case since

[2020-11-06 21:02] Hausekey commented on #136
I see, to get the best performance on obtaining most recent progress, multi-column indexes are the way to go.

Below are some findings from the Postgres database that I wanted to report. I currently have two indexes on user_answers: created_at,user_id,question_number and created_at,user_id

To ensure that the indexes will be be used, what I've done was generate about 116 random users, and 200,000

[2020-11-09 03:13] vegetabill commented on #136
That looks great @Hausekey !

Please go ahead and make a PR when you get a chance.

[2020-11-13 17:59] Hausekey commented on #76
Hello, is this issue still open? I'd like to work on this, if so.

[2020-11-28 23:23] Hausekey commented on #76
Hello!
I made a mockup on a potential login/logout design, and wanted to get some feedback on what to tweak.
Once implemented, details such as margins, button corner radii, paddings, etc can be changed more easily.
For the logged in indicator, I was thinking of either using the email or a static indication like "Logged in", depending on what data will be stored.
The color I picked for the button i

[2020-12-06 23:10] #136 closed

[2020-12-07 02:13] #77 closed

[2020-12-07 02:43] alodahl opened #144 "Fix jasmine API test authorization bug"
Troubleshoot these errors in the existing API unit tests. Fix if possible.  If it's just a misunderstanding, create documentation so future contributors can avoid this.

Thread:  https://github.com/Techtonica/keyboard-shortcuts-practice/pull/142#pullrequestreview-530840319

[2020-12-07 02:47] alodahl commented on #76
I think its great!  @vegetabill  how do you feel about the placement?

[2020-12-08 04:08] vegetabill commented on #76
Looks nice! Can't wait for the PR. Thanks for sharing the draft, @Hausekey

[2020-12-15 22:14] Hausekey commented on #76
Thank you for reviewing the mockup, @alodahl and @vegetabill!
I was wondering if I could get some insight on which design is more preferable.
As I was implementing it, I learned that the top container was a flexbox with justify-content: center. From my readings, it seems that it causes elements to gravitate to the center, which differs from my mockup plan. I think this design makes sense as well,

[2020-12-29 01:04] alodahl commented on #76
I think I prefer the second one, as it looks more like a nav bar as opposed to being part of the text area.

[2020-12-29 01:07] alodahl commented on #76
@Hausekey , I'm not sure which "two branches" you are referring to.  Could you make a pull request, or put your links here?

[2020-12-31 23:14] Hausekey commented on #76
For sure @alodahl ,

The branches are:
https://github.com/Hausekey/keyboard-shortcuts-practice/tree/login-button-shows-correct-status

and
https://github.com/Hausekey/keyboard-shortcuts-practice/tree/login-button-shows-correct-status-centered

respective of the first and second options I posted above.
The values of the margins of #account-info are currently hard-coded, so if there's a more prefera

[2020-12-31 23:57] alodahl commented on #76
LGTM!  Go ahead and make a  pull request.

[2021-10-30 18:00] #76 closed

[2021-10-30 18:40] #94 closed